.wrapper{
	height:10vh;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:#f8f9fa;
}
.typing-demo{
	width:49ch;
	animation: typing 2s steps(22),blink.5s step-end
	infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-right:3px solid;
	font-family:  Geneva, Verdana, sans-serif;
	font-size:2em;
	font-weight: bold;
	color: #343a40;
}
@keyframes typing{
	from{
		width: 0;
		
	}
}
@keyframes blink{
	50%{
		border-color: #343a40;;
		
	}
}
	body{
    background-color: #fCfCfC;
    
}

#calculator{
	width: 320px;
	height: 540px;
	background-color: #ced4da;
	margin: 0 auto;
	top: 200px;
	position: relative;
	border-radius: 5px;
	
	
}
#result{
	height: 120px;
	background-color:  #212529;
	color:#ffffff;
	font-family: Poppins;
	font-weight: 500;

    
}
#previous{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	font-family: Poppins;
   
    
}
#outcome{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
  
}
.keypad{
	height: 400px;
}
.operator,.number,.empty{
    width:50px;
    height: 50px;
    border-radius: 5px;
    border-width: 0px;
    margin:15px;
    float:left;
	font-weight: bold;
	cursor: pointer;
   
}
.operator{
    background-color: #6c757d;
    border-radius: 30px;
    border-width: 4px;
	font-size:12px;
	color:#ffffff;
	
}
.number{
	
	background-color:#fcfcfc;
	font-size:18px;
	filter: drop-shadow(2px 3px 6px #ADB5BD); 
}
.empty{
	background-color:#ced4da;
}
button:nth-child(3){
	font-size:15px
}
button:nth-child(4){
	font-size:15px
}
button:nth-child(8){
	font-size:15px
}
button:nth-child(12){
	font-size:22px
}
button:nth-child(16){
	font-size:15px
}
button:nth-child(20){
	font-size:15px
}
.number:active { 
	background-color:#ced4da;
	
} 
*:focus {
    outline: 0 !important;
}
